<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>web-app-test</title>
  </head>
  <body>
    <header>
      <h1>web-app-test</h1>
      <h2>index</h2>
    </header>
    <main>
      <p>Click to test the database.</p>
      <button>
        <a href="http://{{host}}:{{port}}/test">DB Test</a>
      </button>
    </main>
  </body>
</html>